{% extends "base.html" %}
{% block content %}

<h3>Painel Administrativo</h3>

<table class="table table-dark table-striped mt-4">
  <thead>
    <tr>
      <th>UID</th>
      <th>Função</th>
      <th>Telefone</th>
      <th>Ativo</th>
    </tr>
  </thead>

  <tbody>
    {% for uid, u in users.items() %}
    <tr>
      <td>{{ uid }}</td>
      <td>{{ u.role }}</td>
      <td>{{ u.phone }}</td>
      <td>{{ "Sim" if u.active else "Não" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
