{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card p-4">
      <h4>Login</h4>
      {% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
      <form method="POST">
        <div class="mb-2"><label>Usuário</label><input name="username" class="form-control"></div>
        <div class="mb-2"><label>Senha</label><input name="password" type="password" class="form-control"></div>
        <button class="btn btn-primary">Entrar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
